name: Build

on:
    push:
        branches:
        - main
        - dev
    pull_request:
        branches:
        - main

  
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: "install pnpm"
        run: npm install -g pnpm

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20" 
          registry-url: "https://registry.npmjs.org/"

      - name: Install dependencies with pnpm
        run: pnpm install

      - name: Build with tsup
        run: pnpm exec tsup

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: dist/