name: Build and Publish

on:
  release:
    types: [published]
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: "install pnpm"
        run: npm install -g pnpm

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20" 
          registry-url: "https://registry.npmjs.org/"

      - name: Install dependencies with pnpm
        run: pnpm install

      - name: Build with tsup
        run: pnpm exec tsup

      - name: Update npm for OIDC support
        run: npm install -g npm@latest

      - name: Publish to npm
        run: pnpm publish --access public --no-git-checks
